DJANGO_SECRET_KEY=replace-with-strong-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Frontend origins that can call backend API
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=stem_studio
DB_USER=stem_user
DB_PASSWORD=replace-with-strong-password
DB_HOST=127.0.0.1
DB_PORT=5433
DB_SSLMODE=disable
DB_CONNECT_TIMEOUT=10
